   .footer {
    background-color: #222;
    padding: 40px 0;
    color: #fff;
    text-align: center;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-info {
    text-align: left;
  }
  
  .contact-info {
    font-family: 'Your Unique Font', sans-serif;
    font-size: 16px;
  }
  
  .footer-title {
    text-align: center;
    flex-grow: 1;
  }
  
  .title {
    font-family: 'Your Sitemap News Manager Font', sans-serif;
    font-size: 24px;
    font-weight: bold;
  }
  
  .footer-bottom {
    text-align: right;
    font-size: 14px;
  }
  
  

  