<!-- <footer class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-info">
          <p>Contact us: email@example.com</p>
          <p>Phone: 123-456-7890</p>
        </div>
        <div class="footer-links">
          <a href="/terms">Terms of Service</a>
          <a href="/privacy">Privacy Policy</a>
        </div>
      </div>
    </div>
  </footer> -->
  <footer class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-info">
          <p>Contact us: email@example.com</p>
          <p>Phone: 123-456-7890</p>
        </div>
        <div class="footer-links">
          <a mat-button href="/terms">Terms of Service</a>
          <a mat-button href="/privacy">Privacy Policy</a>
        </div>
      </div>
    </div>
  </footer>
  