/* .footer {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-info {
    text-align: left;
  }
  
  .footer-links a {
    margin-left: 10px;
  }
   */
   .footer {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-info {
    text-align: left;
  }
  
  .footer-links a {
    margin-left: 10px;
  }
  