.thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.thumbnail {
  width: 45%; /* Adjust the width as desired */
  margin: 10px;
  max-width: 350px; /* Limit the maximum width of each thumbnail */
}

.thumbnail img {
  width: 100%;
  height: auto;
}

.caption {
  padding: 10px;
  background-color: #f2f2f2;
}
