<h2>List of Articles</h2>

<div *ngIf="articles.length === 0">
  <p>No articles found.</p>
</div>

<div class="url-dashboard" *ngIf="articles.length > 0">
  <table>
    <thead>
      <tr>
        <th>URL</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let article of articles">
        <td>
          <app-article-thumbnail [article]="article"></app-article-thumbnail>
        </td>
        <td>
          <button (click)="viewUrlDetails(article)">More Details</button>
          <button (click)="deleteUrl(article)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
