<h2>Articles</h2>

<div *ngIf="articles.length === 0" class="no-articles">
  <p>No articles found.</p>
</div>

<div class="url-dashboard" *ngIf="articles.length > 0">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="thumbnail">
      <td mat-cell *matCellDef="let article">
        <app-article-thumbnail [article]="article"></app-article-thumbnail>
      </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <td mat-cell *matCellDef="let article">
        {{ article.title }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <td mat-cell *matCellDef="let article">
        <button mat-icon-button color="primary" (click)="viewUrlDetails(article)" *ngIf="isEditorOrAdmin()">
          <mat-icon>article</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteUrl(article)" *ngIf="isEditorOrAdmin()">
          <mat-icon>delete</mat-icon>
        </button>
        <a [href]="article.loc" target="_blank" mat-icon-button color="primary">
          <mat-icon>visibility</mat-icon>
        </a>        
      </td>      
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div class="pagination" *ngIf="totalItems > pageSize">
  <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageSizeOptions]="[pageSize]"
    (page)="handlePageChange($event)"></mat-paginator>
</div>

<div class="no-articles" *ngIf="articles.length === 0">
  <p>No articles found.</p>
</div>



<!-- <div class="urls-from-sitemap">
  <h2 class="urls-heading">URLs from Sitemap</h2>

  <mat-card class="urls-card" *ngFor="let url of urls">
    <mat-card-header>
      <div class="url-details">
        <mat-icon class="url-icon">link</mat-icon>
        <div class="url-info">
          <span class="url-title">{{ url.title }}</span>
          <span class="url-description">{{ url.description }}</span>
        </div>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="url-thumbnail">
        <img [src]="url.thumbnail" alt="Thumbnail">
      </div>
    </mat-card-content>
  </mat-card>
</div> -->