<div class="urls-from-sitemap">
    <h2 class="urls-heading">URLs from Sitemap</h2>
  
    <mat-card class="urls-card" *ngFor="let url of getCurrentPageUrls()">
      <mat-card-header>
        <div class="url-details">
          <mat-icon class="url-icon" (click)="openUrlInNewTab(url.loc)">launch</mat-icon>
          <div class="url-info">
            <span class="url-loc">{{ url.loc }}</span>
          </div>
        </div>
      </mat-card-header>
    </mat-card>
  
    <div class="pagination" *ngIf="urls.length > pageSize">
      <mat-paginator [length]="urls.length" [pageSize]="pageSize" [pageSizeOptions]="[pageSize]"
        (page)="onPageChange($event.pageIndex)"></mat-paginator>
    </div>
  </div>
  