<!-- <div class="urls-from-sitemap">
    <h2 class="urls-heading">URLs from Sitemap</h2>
  
    <mat-card class="urls-card" *ngFor="let url of urls">
      <mat-card-header>
        <div class="url-details">
          <mat-icon class="url-icon">link</mat-icon>
          <div class="url-info">
            <span class="url-title">{{ url.title }}</span>
            <span class="url-description">{{ url.description }}</span>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div class="url-thumbnail">
          <img [src]="url.thumbnail" alt="Thumbnail">
        </div>
      </mat-card-content>
    </mat-card>
  </div>
   -->