/* .urls-from-sitemap {
    margin: 20px;
  }
  
  .urls-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .urls-card {
    margin-bottom: 10px;
  }
  
  .url-details {
    display: flex;
    align-items: center;
  }
  
  .url-icon {
    margin-right: 10px;
  }
  
  .url-info {
    display: flex;
    flex-direction: column;
  }
  
  .url-title {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .url-description {
    font-size: 14px;
    color: #777;
  }
  
  .url-thumbnail img {
    max-width: 100%;
    height: auto;
  }
   */