  <div class="article-form-container">
  <h2 class="form-header">Add new Article</h2>
  <form [formGroup]="articleForm" (ngSubmit)="onSubmit()" class="article-form">
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput type="text" formControlName="title" required>
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>URL</mat-label>
        <input matInput type="text" formControlName="loc" required>
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Last Modified</mat-label>
        <input matInput [matDatepicker]="lastModifiedDatepicker" formControlName="lastmod" required>
        <mat-datepicker-toggle matSuffix [for]="lastModifiedDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #lastModifiedDatepicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Channel Name</mat-label>
        <input matInput type="text" formControlName="channelName" required>
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" required></textarea>
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Thumbnail</mat-label>
        <input matInput type="text" formControlName="thumbnail" required>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="submit" class="create-button">Add</button>
  </form>
</div>
