<!-- <div *ngIf="article" class="article-details">
  <h2>{{ article.channelName }}</h2>
  <h3>{{ article.lastmod }}</h3>
  <p>{{ article.description }}</p>
  <p>{{ article.loc }}</p>
  <img [src]="article.thumbnail" alt="Thumbnail">


  <button (click)="editArticle()">Edit</button>
</div> -->
<!-- <div *ngIf="article" class="article-details mat-elevation-z4">
  <h2>{{ article.channelName }}</h2>
  <h3>{{ article.lastmod }}</h3>
  <p>{{ article.description }}</p>
  <p>{{ article.loc }}</p>
  <img [src]="article.thumbnail" alt="Thumbnail">

  <button mat-raised-button color="primary" (click)="editArticle()">Edit</button>
</div> -->
<div *ngIf="article" class="article-details mat-elevation-z4">
  <h1>{{ article.title }}</h1>
  <h3>{{ formattedDate }}</h3> <!-- Display the formatted date -->
  <img [src]="article.thumbnail" alt="Thumbnail">
  <p>{{ article.description }}</p>
  <!-- <h3>{{ article.channelName }}</h3> -->
  <h2>{{ article.loc }}</h2>

  <button mat-raised-button color="primary" (click)="editArticle()">Edit</button>
</div>

