/* .article-details {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .article-details h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .article-details h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .article-details p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .article-details img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
   */
   /* .article-details {
    padding: 20px;
    border-radius: 8px;
    background-color: white;
  }
  
  .article-details h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .article-details h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .article-details p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .article-details img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
  }
  
  .mat-elevation-z4 {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
   */




   /* .article-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .article-details h1 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .article-details h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .article-details h3 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
    align-self: self-end;
  }
  
  .article-details p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .article-details img {
    max-width: 45%;
    height:min-content;
    margin-bottom: 10px;
    border-radius: 8px;
  } */
  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .search-input {
    width: 300px;
    margin-right: 10px;
  }
  
  .search-button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .search-button .mat-icon {
    font-size: 24px;
    color: #2196f3;
  }
  
  .search-results-heading {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .search-result-card {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  
  .details-row {
    display: flex;
    margin-bottom: 5px;
  }
  
  .details-label {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .details-value {
    flex-grow: 1;
  }
  
  .no-results,
  .no-search {
    margin-bottom: 10px;
  }
  
  .no-results p,
  .no-search p {
    font-style: italic;
  }
  