<div class="main-container">
  <mat-toolbar color="primary">
    <mat-icon routerLink="/home" class="toolbar-icon">web</mat-icon>
    <span class="toolbar-text">Sitemap News Manager</span>
  
    <span class="spacer"></span> 
  
    <div class="menu_right" *ngIf="!loggedUser">
      <button mat-button routerLink="/authentication" class="menu-button" routerLinkActive="active">
        <mat-icon class="menu-icon">lock</mat-icon>
        <span>Authentication</span>
      </button>
    </div>
  
    <div class="menu_right" *ngIf="loggedUser">
      <div class="profile-logout-wrapper">
        <a *ngIf="loggedUser">
          <mat-icon class="profile-icon">account_circle</mat-icon>
          <span>{{ loggedUser.username }}</span>
          <span>({{ loggedUser.role }})</span>
        </a>        
        <a mat-button class="logout-button" routerLink="" routerLinkActive="active" (click)="logout()">
          <mat-icon class="logout-icon">exit_to_app</mat-icon>
          <span>Log out</span>
        </a>
      </div>
    </div>
  </mat-toolbar>

  <div class="container">
    <div class="sidebar">
      <mat-list>
        <mat-list-item routerLink="/home" routerLinkActive="active">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </mat-list-item>
        <mat-list-item routerLink="/dashboard" routerLinkActive="active" *ngIf="isViewerOrEditorOrAdmin()">
          <mat-icon>dashboard</mat-icon>
          <span>Dashboard</span>
        </mat-list-item>
        <mat-list-item routerLink="/sitemap-list" routerLinkActive="active">
          <mat-icon>rss_feed</mat-icon>
          <span>Sitemaps</span>
        </mat-list-item>
        <mat-list-item routerLink="/search" routerLinkActive="active" *ngIf="isViewerOrEditorOrAdmin()">
          <mat-icon>search</mat-icon>
          <span>Search</span>
        </mat-list-item>
        <mat-list-item routerLink="/article-create" routerLinkActive="active"  *ngIf="isEditorOrAdmin()">
          <mat-icon>article</mat-icon>
          <span>Create Article</span>
        </mat-list-item>
        <mat-list-item routerLink="/admin" routerLinkActive="active" *ngIf="isAdmin()">
          <mat-icon>admin_panel_settings</mat-icon>
          <span>Admin</span>
        </mat-list-item>
      </mat-list>
    </div>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<app-footer></app-footer>
