<!-- <div class="thumbnail">
  <div class="thumbnail-image">
    <img [src]="article.thumbnail" alt="Thumbnail">
  </div>
  <div class="card-content">
    <h3 class="thumbnail-description">{{ article.description }}</h3>
    <p class="thumbnail-loc">{{ article.loc }}</p> 
    <p>{{ article.lastmod }}</p>
  </div>
  <div class="card-actions">
    <a [href]="article.loc" target="_blank" class="read-article-button">Read Article</a>
  </div>
</div> -->
<mat-card class="thumbnail">
  <div class="thumbnail-image">
    <img [src]="article.thumbnail" alt="Thumbnail">
  </div>
  <mat-card-content class="card-content">
    <h3 class="thumbnail-description">{{ article.description }}</h3>
    <!-- <p class="thumbnail-loc">{{ article.loc }}</p> -->
    <!-- <p>{{ article.lastmod }}</p> -->
  </mat-card-content>
  <mat-card-actions class="card-actions">
    <a [href]="article.loc" target="_blank" mat-raised-button color="primary">Read Article</a>
  </mat-card-actions>
</mat-card>
