

  .channel-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .channel-card {
    width: 300px;
  }
  
  .mat-card-title {
    font-size: 20px;
  }
  
  .mat-card-actions {
    justify-content: flex-end;
  }
  
  