<div class="edit-form">
  <h2 class="popup-title">Edit URL</h2>

  <form (submit)="submitForm()">
    <div class="form-field">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput type="text" id="title" name="title" [(ngModel)]="article.title" required>
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field>
        <mat-label>URL</mat-label>
        <input matInput type="text" id="loc" name="loc" [(ngModel)]="article.loc" required>
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput type="text" id="description" name="description" [(ngModel)]="article.description" required>
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field>
        <mat-label>Last Modified</mat-label>
        <input matInput type="text" id="lastmod" name="lastmod" [(ngModel)]="article.lastmod" required>
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field>
        <mat-label>Last Modified</mat-label>
        <input matInput [matDatepicker]="lastModifiedDatepicker" placeholder="Choose a date" [(ngModel)]="article.lastmod" required>
        <mat-datepicker-toggle matSuffix [for]="lastModifiedDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #lastModifiedDatepicker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field>
        <mat-label>Channel Name</mat-label>
        <input matInput type="text" id="channelName" name="channelName" [(ngModel)]="article.channelName" required>
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field>
        <mat-label>Thumbnail</mat-label>
        <input matInput type="text" id="thumbnail" name="thumbnail" [(ngModel)]="article.thumbnail" required>
      </mat-form-field>
    </div>

    <div class="button-container">
      <button mat-icon-button color="primary" type="submit">
        <mat-icon>done</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="cancel()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </form>
</div>

 <!-- <div class="edit-form">
  <h2 class="popup-title">Edit URL</h2>

  <form (submit)="submitForm()">
    <div class="form-field">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput type="text" id="title" name="title" [(ngModel)]="article.title" required>
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field>
        <mat-label>URL</mat-label>
        <input matInput type="text" id="loc" name="loc" [(ngModel)]="article.loc" required>
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput type="text" id="description" name="description" [(ngModel)]="article.description" required>
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field>
        <mat-label>Last Modified</mat-label>
        <input matInput [matDatepicker]="picker" id="lastmod" name="lastmod" [(ngModel)]="article.lastmod" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field>
        <mat-label>Channel Name</mat-label>
        <input matInput type="text" id="channelName" name="channelName" [(ngModel)]="article.channelName" required>
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field>
        <mat-label>Thumbnail</mat-label>
        <input matInput type="text" id="thumbnail" name="thumbnail" [(ngModel)]="article.thumbnail" required>
      </mat-form-field>
    </div>

    <div class="button-container">
      <button mat-icon-button color="primary" type="submit">
        <mat-icon>done</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="cancel()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </form>
</div> -->
