.edit-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .form-field {
    margin-bottom: 20px;
  }
  
  .mat-form-field {
    width: 100%;
  }
  
  button {
    align-self: flex-end;
  }
  