<h2>Admin Dashboard</h2>

<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>

<div *ngFor="let user of users" class="user-card">
  <div class="user-info">
    <mat-icon>person</mat-icon>
    <p>{{ user.username }} - {{ user.email }} ({{ user.role }})</p>
  </div>
  <button mat-icon-button color="warn" (click)="deleteUser(user.username)">
    <mat-icon>delete</mat-icon>
  </button>
</div>

<button mat-raised-button color="primary" (click)="registerUser()">Create New ADMINISTRATOR account</button>

