<h2 class="home">Home</h2>

<div class="statistics">
  <!-- <h3>Statistics</h3> -->
  <div class="statistics-container">
    <mat-card class="statistics-card">
      <mat-card-content>
        <p class="statistics-label">Total Articles</p>
        <p class="statistics-value">{{ totalArticles }}</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="statistics-card">
      <mat-card-content>
        <p class="statistics-label">Total Channels</p>
        <p class="statistics-value">{{ totalChannels }}</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="statistics-card">
      <mat-card-content>
        <p class="statistics-label">Total Sitemaps</p>
        <p class="statistics-value">{{ totalSitemaps }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
