<mat-card *ngIf="loggedUser == undefined" class="auth-card">
  <mat-card-content>
    <div class="container">
      <div class="logo">Authentication</div>
      <div class="login-item">
        <form [formGroup]="authentificationForm" (ngSubmit)="onSubmit()" class="form-register">
          <mat-form-field appearance="outline" class="mat-form-field">
            <mat-label>Username:</mat-label>
            <input matInput formControlName="username">
          </mat-form-field>

          <mat-form-field appearance="outline" class="mat-form-field">
            <mat-label>Password:</mat-label>
            <input matInput formControlName="password" required type="password">
          </mat-form-field>
          <div class="mat-form-field login-button">
            <button mat-raised-button color="primary">
              <mat-icon>login</mat-icon> Login
            </button>
          </div>
        </form>
      </div>
      <p class="account-message">New?</p>
      <a routerLink="/register" class="account-link register-link">Register</a>
      <div class="success-message" *ngIf="isSuccessful">
        Successfully authenticated!
      </div>
      <div class="error-message" *ngIf="!isSuccessful && isSignInFailed">
        Wrong username or password!
      </div>
    </div>
  </mat-card-content>
</mat-card>

