mat-card {
    max-width: 600px;
    max-height: 1000px;
    margin:auto;
    margin-top: 100px;
    text-align: center;
    background-color: darkseagreen;
    margin-bottom: 100px;
    font-size: xx-large;
    border: 1px solid darkgreen;
    border-top: 1px solid darkgreen;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  
  
  mat-form-field {
    display: block;
    text-align: center;
    background-color: floralwhite;
  }
  
  label{
    font-size: 15px;
    font-weight: 500;
  }
  .logo{
    font-size: xx-large;
    color: saddlebrown;
  }
  